.name-row{
    display: flex;
    justify-content: space-between;
    gap: 15px;   
    width: 100%;
    margin-bottom: 10px;
}

.name-row .filed{
    width: 40%;
    flex: 1;
    margin-top: 0;
}


.strength-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.passStre{
    margin-top: 0;

}

.check-btn {
    background-color: #6fbab7; /* צבע טורקיז כהה יותר כמו בתמונה */
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    margin-top: 15px;
    align-self: flex-start; /* להצמיד לימין (בגלל ה-RTL) */
}

.progress-bg {
    width: 100%;
    height: 12px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;

}

.progress-bar {
    height: 100%;
    transition: width 0.4s ease, background-color 0.4s ease;
}

.the-card{
    height: 95vh;
    margin:5px;
    padding: 50px !important;
    max-width: 550px !important;

}
.the-page{
    padding-top: 0vh !important;
    height: 110vh !important;
}


/* הקונטיינר שעוטף את האינפוט והעין */
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

/* עיצוב האינפוט כדי שלא יתנגש עם העין */
.password-wrapper input {
    width: 100%;
    padding-left: 40px; /* רווח פנימי משמאל בשביל העין */
}

/* הכפתור של העין */
.toggle-password {
    position: absolute;
    left: 10px; /* הצמדה לשמאל */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    z-index: 2; /* לוודא שהוא מעל האינפוט */
}

.toggle-password:hover {
    opacity: 0.7;
}